/*body
{
        background-color: #dfdfdf;
        color: #fff;
        font-family: Century Gothic, Arial;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 30px;
}

a
{
        color: #ff377c;
}

p
{
        margin-bottom: 10px;
}

h1
{
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: bold;
}

h2
{
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
}*/

/* Header customization
---------------------------------------------------*/
.navbar-menu {
    background-image: none;
    background-color: black;
    padding: 10px;
}

.navbar-menu a,
.navbar-menu a:hover,
.navbar-menu a:focus {
    /*background-image: linear-gradient(to bottom,#52a752 0,#387a58 100%);
    background-color: #276947;*/
    color: #d3d3d3;
}

/* Rounded divs
-------------------------------------------------- */
.rounded {
    border-radius: 15px 15px 15px 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    
}
footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    /* Set the fixed values of the footer here and center it */
    /*width: 1140px;
    left: 50%;
    margin-left: -570px;*/
    margin: 0 auto;
}

footer.admin {
    position: absolute;
    bottom: 0;
    /* Set the fixed values of the footer here and center it */
    width: 1140px;
    left: 50%;
    margin-left: -570px;
    margin: 0 auto;
}

/* Border colors
-------------------------------------------------- */
.lt_green_border {border: 1px solid #CEE8C4;}

/* Table wrapper
-------------------------------------------------- */
.table_wrapper {background-color: ghostwhite;
                padding: 15px 5px;}
